@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <!-- header content -->
    <div>
        <nav class="container navbar fixed-top">

            <div class="navbar-left">
                <a class="navbar-brand" data-ajax="false" asp-area="" asp-controller="User" asp-action="Home"><img src="~/images/Logo.svg" alt=""></a>
            </div>
            <div class="navbar-center"><a class="navbar-brand" data-ajax="false" asp-area="" asp-controller="User" asp-action="Login">@ViewData["Title"]</a></div>
            @*<div class="navbar-right"><a class="" href="#popupMenu" data-rel="popup" data-transition="slide"><i class="fa fa-bars"></i></a></div>*@


            <div class="navbar-right">
                <a href="#positionWindow" data-theme="none" data-rel="popup" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-notext ui-btn-inline ui-icon-bars" data-transition="slide" data-position-to="window"></a>
            </div>
            <div data-role="popup" id="positionWindow" data-theme="none">
                <ul data-role="listview">
                    @if(!Context.User.Identity.IsAuthenticated){
                    <li><a href="#">Login</a></li>
                   }
                    <li><a href="#">Admin profile</a></li>
                    <li><a href="#">Advanced settings</a></li>
                    <li><a data-ajax="false" asp-controller="Home" asp-action="Logout">Logout</a></li>
                </ul>
            </div><!-- /popup -->
        </nav>

    </div>

</header>