@using ConversationApp.Data.Enums
@model ConversationApp.Framework.Models.UserProfileModel
@{
    ViewData["Title"] = "Home";
    ViewData["HeaderType"] = "Header";
    ViewData["FooterType"] = "FooterNav";
}

<main>
    <!-- main content -->
    <section class="container">

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, earum. Ipsam, voluptate molestiae. Pariatur esse voluptatibus doloremque maiores, commodi, consequatur quis animi minus inventore ad corporis possimus impedit fugiat ipsa.
            Repellendus consequatur, cumque omnis possimus culpa velit adipisci magnam vero doloremque blanditiis, amet placeat. Eos quos quisquam amet excepturi atque. Hic porro exercitationem rem distinctio, dicta pariatur obcaecati ea nisi?
            Atque voluptas dolores voluptatibus ipsam quas modi maiores, vitae ex quo temporibus quod, inventore ad autem maxime corporis cumque quis tenetur dignissimos nisi distinctio sunt laborum. Eligendi itaque facere consectetur.
            Voluptatem nemo modi ullam unde vero nobis numquam consequatur! Exercitationem aspernatur pariatur ex voluptates inventore tempora itaque, vitae rerum sit quasi distinctio reiciendis maxime obcaecati magnam? Quasi atque rem eos.
            Officia corrupti error laboriosam cumque ad libero hic porro, dolorem sapiente dicta ratione earum distinctio! Esse at, magnam adipisci ipsam doloribus minus exercitationem! Earum alias rerum qui ratione eligendi nihil?
            Porro ut quis obcaecati rem tempora, soluta suscipit inventore doloribus sunt ad, nihil, modi perspiciatis. Minima, officiis aliquid libero iste cum nostrum voluptate est eveniet, consequuntur aspernatur et saepe adipisci.
            Aliquam, fugit itaque modi at cupiditate voluptas corporis, accusantium temporibus veritatis esse pariatur nesciunt nisi ad molestiae nihil harum consectetur? Sunt esse rerum itaque repudiandae eligendi placeat modi ea dolore.
            Cupiditate laborum deserunt, perspiciatis itaque, ab sed fugit ea eveniet nihil dolores quos accusamus possimus commodi provident minima deleniti. Eos quos quisquam amet excepturi atque. Hic porro exercitationem rem distinctio, dicta pariatur obcaecati ea nisi?
            Atque voluptas dolores voluptatibus ipsam quas modi maiores, vitae ex quo temporibus quod, inventore ad autem maxime corporis cumque quis tenetur dignissimos nisi distinctio sunt laborum. Eligendi itaque facere consectetur.
            Voluptatem nemo modi ullam unde vero nobis numquam consequatur! Exercitationem aspernatur pariatur ex voluptates inventore tempora itaque, vitae rerum sit quasi distinctio reiciendis maxime obcaecati magnam? Quasi atque rem eos.
            Officia corrupti error laboriosam cumque ad libero hic porro, dolorem sapiente dicta ratione earum distinctio! Esse at, magnam adipisci ipsam doloribus minus exercitationem! Earum alias rerum qui ratione eligendi nihil?
            Porro ut quis obcaecati rem tempora, soluta suscipit inventore doloribus sunt ad, nihil, modi perspiciatis. Minima, officiis aliquid libero iste cum nostrum voluptate est eveniet, consequuntur aspernatur et saepe adipisci.
            Aliquam, fugit itaque modi at cupiditate voluptas corporis, accusantium temporibus veritatis esse pariatur nesciunt nisi ad molestiae nihil harum consectetur? Sunt esse rerum itaque repudiandae eligendi placeat modi ea dolore.
            Cupiditate laborum deserunt, perspiciatis itaque, ab sed fugit ea eveniet nihil dolores quos accusamus possimus commodi provident minima deleniti.
        </p>

        

        <br><br>

    </section>


</main>