@using ConversationApp.Data.Enums
@model ConversationApp.Framework.Models.UserProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["HeaderType"] = "HeaderBack";
    ViewData["FooterType"] = "FooterNav";
}


<main>
    <!-- main content -->

    <section>
        <h6 class="text-heading">Select language of application:</h6>
        <form data-iconpos="right" class="lang-list">
            <input type="radio" name="radio-choice-w-6" id="radio-choice-w-6a" value="on">
            <label for="radio-choice-w-6a"><img src="~/images/de.png" alt="German" class="ui-li-icon">German</label>
            <input type="radio" name="radio-choice-w-6" id="radio-choice-w-6b" value="off" checked="checked">
            <label for="radio-choice-w-6b"><img src="~/images/gb.png" alt="English" class="ui-li-icon">English</label>
            <input type="radio" name="radio-choice-w-6" id="radio-choice-w-6c" value="other">
            <label for="radio-choice-w-6c"><img src="~/images/fr.png" alt="French" class="ui-li-icon">French</label>
            <input type="radio" name="radio-choice-w-6" id="radio-choice-w-6d" value="off">
            <label for="radio-choice-w-6d"><img src="~/images/it.png" alt="Italian" class="ui-li-icon">Italian</label>
            <input type="radio" name="radio-choice-w-6" id="radio-choice-w-6e" value="other">
            <label for="radio-choice-w-6e"><img src="~/images/sp.png" alt="Spanish" class="ui-li-icon">Spanish</label>

            <button class="ui-btn-inline save-btn"><i class="fas fa-save margin-icon"></i>Save</button>
        </form>
    </section>


</main>